
/* *MAIN CSS (So, the stuff that always stays.) */

/* !BG STYLING */
body {
    background: linear-gradient(to bottom, #171d25, #1b2838 100%);
    height: 100%;
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
}

/* !HEADER STYLING */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin: 25px;
}

header img {
    height: 115px; 
    margin-right: 10px;
}

/* !MAIN CONTENT */

.mainContent { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}


/* FONTS / TEXT STYLING*/

h1 {
    font-family: motiva-sans , sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

h2 {
    font-family: motiva-sans, sans-serif;
    font-weight: 500;
    font-style: italic;
    /* text-align: center; */
    font-size: 2rem;
    color: white;
}

section {
    padding: 1rem 10rem;
    margin-bottom: 30px;
}

p {
    font-family: "motiva-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    color: white;
    margin: 0px;
}

li {
    font-family: "motiva-sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    line-height: 2ch;
}

ul {
    padding-left: 40px;
    padding-right: 30px;
}

/* BUTTON */

a {
    text-decoration: none;
    color: white;
}


.buttonText {
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

button {
    font-family: motiva-sans, sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    color: white;
}

.button {
    background: linear-gradient(270deg, #88cc28, #75b022, #5e971d, #75b022, #88cc28);
    background-size: 300% 100%; /* Allows for movement of the gradient */
    border-radius: 2.5px;
    padding: .5rem 1.5rem;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 0.75;
    margin: 10px;
}

.button:hover {
    animation: gradientMove 70s linear infinite;
    opacity: 1;
}

@keyframes gradientMove {
    from {
        background-position: 0% 0;
    }
    to {
        background-position: 2000vh;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

video {
    height: 350px;
}

.videoStyling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    margin: 10px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #29465d;
    background: linear-gradient(to bottom, #22394b, #22394b71 100%);
}

@media (max-width: 768px) {
    video {
        height: 150px;
    }

    section {
        padding: 1rem 1rem;
        margin-bottom: 30px;
    }
}